:root {
  --main: #ffd54f;
  --text: #755a00;
  --label: #a88100a8;
  --shadow: #ffe2843f;
  --border: #ffd95e48;
  --toggle-on: #a78000;
  --surface-a: #fffef0;
  --table-header: #ffed9e;
  --table-even: #fffdf5;
  --table-odd: #ffffff;
}
html {
  transition: filter 0.2s ease-in-out;
}
html.dark-theme {
  background-color: #fefefe;
  color: black;
  filter: invert(100%);
}

img:not([src*=".svg"]),
video {
  filter: invert(100%);
}

.p-datatable-tbody > tr:nth-child(14n) {
  page-break-before: always !important;
  page-break-after: always !important;
}

.dv-label {
  position: relative;
  left: -200px;
  top: 20px;
}

.dv-text {
  font-size: 1.2rem;
}

.dv-button {
  position: relative;
  top: 25px;
}

.dv-description {
  position: relative;
  top: 25px;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-fab {
  display: none;
}

#burgerButton {
  display: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align-last: center;

  background-color: var(--surface-b);
}
hr {
  border-color: #ffd64f6b;
  width: 100%;
}

input,
.p-inputtext {
  color: var(--text) !important;
  background-color: white;
}
.p-inputtext.p-invalid {
  border-color: #7c141e8a !important;
  background-color: rgb(255, 220, 220);
  box-shadow: 0 0 24px rgba(255, 0, 0, 0.157);
}

input[type="text"],
input[type="time"] {
  cursor: text;
}
input[readonly] {
  cursor: default;
}
input[readonly]:hover,
input[readonly]:focus {
  box-shadow: none;
  -webkit-box-shadow: none !important;
  border-color: #ced4da !important;
}
.align-left {
  text-align: left !important;
  text-align-last: left !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}

.floating-card {
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--main);
  background-image: linear-gradient(
    to bottom,
    #fffef0,
    #fcfbeb,
    #faf8e6,
    #f7f6e2,
    #f4f3dd
  );
  padding: 2rem;
  margin-bottom: 8vh;

  border-radius: 3px;
}
.exam-table .p-dialog > * {
  background-color: var(--surface-a) !important;
}

.loginCard {
  margin-top: 10vh;
  margin-left: 29.3%;
  margin-right: 29.3%;
  width: 41.4%;
}

.loginImg {
  object-fit: contain !important;
  height: 128px;
  margin-left: 50%;
  margin-right: 25%;
  padding: 8px;
  border-radius: 8px;
  transform: translateX(-50%);
  margin-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}

.p-datatable-thead > tr > th:first-child {
  width: 120px;
}

.exam-table,
.examForm {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
}
.exam-table {
  min-width: 900px;
}

.container-info {
  float: left;
  margin-top: 2rem;
  margin-left: 1%;
  margin-right: 1%;
  width: 33%;
}

.card-header {
  color: var(--text);
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

/* Sidebar & Buttons */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  padding: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    #fffef0,
    #fcfbeb,
    #faf8e6,
    #f7f6e2,
    #f4f3dd
  );
  border-right: 1px solid var(--main);
  box-shadow: 4px 0px 8px transparent;
  float: left;
  z-index: 950 !important;
  transition: width 0.25s ease-in, box-shadow 0.25s ease-in;
}

.sidebar.active {
  width: 20rem;

  box-shadow: 4px 0px 32px var(--main);

  transition: width 0.25s ease-out, box-shadow 0.25s ease-out;
}

.sidebar-header {
  width: 100% !important;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 4px 0px;
}

.sidebar-header > .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar-content {
  width: 100% !important;
  height: calc(100vh - calc(36px + 48px));
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
}

.sidebar-top {
  width: 100% !important;
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 0.5rem;
}

.sidebar-mid {
  width: 100% !important;
  order: 2;
  flex-grow: 1000;
  flex-shrink: 1;
}

.sidebar-mid > * {
  margin-bottom: 0.5rem;
  height: 48px;
}

.sidebar-mid > * > * {
  font-size: 1.2rem !important;
}

.sidebar-bot {
  width: 100% !important;
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
}

.sidebar-bot > * {
  height: 48px;
}

.fc-toolbar-chunk {
  width: 33.333%;
}
.fc-direction-ltr .fc-toolbar > * > * {
  margin: 0 !important;
  float: left;
  height: 48px;
}
.fc-button-group {
  width: 100%;
  display: block;
}
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
  width: 100% !important;
  display: block !important;
}
.fc-button-group button {
  margin: 2px !important;
}
.fc-button-group .fc-icon {
  width: 100%;
  font-size: 1.3rem !important;
}
.fc-today-button {
  width: 100%;
  text-align-last: center !important;
  font-size: 1.12rem !important;
  margin: 2px !important;
}
.fc-toolbar-title {
  color: var(--text);
  width: 100%;
  text-align: center;
  font-size: 120% !important;
}
.fc-toolbar-chunk:last-child > .fc-button-group {
  width: 100%;
}
.fc-toolbar-chunk:last-child > .fc-button-group > * {
  text-align-last: center !important;
  font-size: 1.12rem !important;
}
.fc-toolbar-chunk:last-child > .fc-button-group > :last-child {
  margin: 0 !important;
}
.fc-scrollgrid-section {
  background-color: var(--table-header);
}
.fc-daygrid-body > table {
  border: 1px solid var(--text) !important;
}
.fc-daygrid-body > table > tbody > tr {
  background-color: white;
}
.fc-daygrid-body > table > tbody > tr > td {
  border: 1px solid var(--text) !important;
}
.fc-view-harness > div > table {
  border: 1px solid var(--main) !important;
}
.fc-timegrid-col.fc-day {
  background-color: white !important;
}
.fc-timegrid-axis-cushion {
  max-width: unset !important;
}

.container {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    to bottom right,
    #fff0e0,
    #fff9db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #fff0e0,
    #fff9db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-home,
.container-examform,
.container-calendar {
  height: 100vh;
  width: calc(100vw - 5rem);
  position: absolute;
  top: 0;
  left: 5rem;
  overflow: auto;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 3rem;
  float: right;
  z-index: 200 !important;
}
.container-calendar {
  font-size: unset !important;
}
.calendar {
  font-size: 120% !important;
  color: #3f3000;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  width: 94%;
}

.container-table {
  flex-grow: 1000;
  overflow: auto;
  color: white;
  font-size: 3rem;
}

.examForm > .card-header {
  text-align: left;
  text-align-last: left;
  border-bottom: 1px solid var(--main);
  margin-bottom: 1rem;
}

.examForm-label {
  margin: 0;
  padding: 0;
  text-align: left;
  text-align-last: left;
  font-size: 1rem;
  color: var(--label);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.294);

  position: relative;
  top: 16px;
}

.p-grid {
  margin: 0 !important;
}

.p-grid > .p-col-12,
.p-grid > .p-col-6,
.p-grid > .p-col-6 > .p-col-12 {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-grid > .p-col-12 > .p-component,
.p-grid > .p-col-6 > .p-component {
  width: 100% !important;
  text-align: left;
  text-align-last: left;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container > input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  background-color: white;
  padding: 0.5rem 0.5rem;
  border: 1px solid #0000002a;
  font-weight: normal;
  border-radius: 3px;
  text-align: left;
  text-align-last: left;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.react-datepicker__input-container > input:hover {
  border-color: var(--main);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.react-datepicker__input-container > input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 1px var(--shadow);
  box-shadow: 0 0 0 1px var(--shadow);
  border-color: var(--main);
}

td,
th,
.p-paginator {
  border-color: var(--border) !important;
}
td {
  padding: 0.5rem !important;
  padding-bottom: 0.65rem !important;
}
td.hide-print {
  width: 100%;
}
td.hide-print > * {
  text-align-last: right;
  float: right;
  min-width: 31% !important;
}
.p-btn-danger {
  background-color: #dc3545 !important;
}

button.active {
  background-color: var(--toggle-on) !important;
  border-color: var(--main);
}

.sidebar-mid > button > .pi-external-link {
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.p-datatable {
  float: left !important;
  border: 2px solid var(--table-header);
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: var(--table-header);
}
.p-datatable .p-datatable-tbody > tr:nth-child(even) > td {
  background-color: var(--table-even);
}
.p-datatable .p-datatable-tbody > tr:nth-child(odd) > td {
  background-color: var(--table-odd);
}
.text-admin,
.text-light {
  font-size: 1.2vw;
  color: black;
}
.text-admin {
  font-weight: bold;
}

.p-paginator {
  background-color: var(--table-header);
}

.p-dialog {
  border: 1px solid var(--main);
}
.p-dialog > .p-dialog-header {
  background-color: #fffef0;
}
.p-dialog > .p-dialog-content {
  background-image: linear-gradient(
    to bottom,
    #fffef0,
    #fcfbeb,
    #faf8e6,
    #f7f6e2,
    #f4f3dd
  ) !important;
}
.p-dialog > .p-dialog-footer {
  background-color: #f4f3dd !important;
}
@media print {
  .sidebar {
    display: none !important;
  }

  .container-home,
  .container-examform,
  .container-calendar {
    top: 0;
    left: 0;
  }

  .floating-card {
    all: unset !important;
  }

  .hide-print {
    display: none !important;
  }

  .p-paginator {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .container-calendar,
  .container-examform,
  .container-home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .pi {
    font-size: unset !important;
  }

  .btn-fab {
    position: fixed;
    width: 60px !important;
    height: 60px !important;
    bottom: 16px;
    z-index: 990;
    padding: 4px !important;
    font-size: 24px !important;
    display: flex !important;
  }
  .fab-1 {
    right: 16px;
  }
  .fab-2 {
    right: 92px;
  }

  .mobile-w-100 {
    width: 100% !important;
    margin: 0 !important;
  }
  .mobile-hide {
    display: none !important;
  }

  .floating-card {
    margin: 0;
    padding: 16px;
    width: 100vw;
    min-width: 480px;
    min-height: 100vh;
    height: auto;
    max-height: auto;
    border: none;
  }

  .sidebar {
    position: absolute !important;
    top: 0 !important;
    left: -100vw !important;
    width: 100vw !important;
    z-index: 1100 !important;
    transition: left 0.2s ease-in;
  }

  .sidebar.active {
    left: 0vw !important;
    transition: left 0.2s ease-out;
  }

  .sidebar-header {
    height: 10vh;
  }

  .sidebar-content {
    height: 87vh;
  }

  .sidebar-mid > .p-button {
    height: calc(80% / 6);
  }

  #burgerButton {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    z-index: 900;
  }

  .p-dialog {
    width: 95vw !important;
  }

  .examForm > .card-header {
    text-align: center;
    text-align-last: center;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  .examForm input,
  .examForm select,
  .examForm textarea,
  .examForm .p-dropdown-label {
    line-height: 1.8;
    font-size: 1.2rem !important;
  }
  .examForm .p-dropdown {
    margin-top: 2vh !important;
  }
  .examForm button {
    height: 8vh;
    margin-top: 2vh !important;
  }
  .p-fileupload-buttonbar,
  .p-fileupload-buttonbar > * {
    width: 100%;
    height: auto;
  }
  .p-fileupload-buttonbar > * {
    height: 7vh;
    font-size: 120%;
  }

  .sidebar-content button {
    font-size: 140%;
  }

  .loginCard {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 10%;
    width: 90% !important;
    height: 60% !important;
    min-height: unset !important;
  }

  .loginCard input,
  .loginCard button,
  .p-dialog input,
  .p-dialog button {
    line-height: 2;
    font-size: 120% !important;
  }
}
